:root {
  .black-theme {  
    ion-title{
      background-color: rgb(172, 3, 3);
      color: rgb(255, 255, 255);
    }
    ion-content{
      --background: rgb(0, 0, 0);
      --color: rgb(255, 255, 255);
    }
        
  } 
}