<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Mohamed Aboualama
    </ion-title>
  </ion-toolbar> 

</ion-header>

<ion-content>
  <div text-center class="ion-padding"> 
    Thank you for watching my first app with ionic.
    <p>For More Information <a target="_blank" rel="noopener" href="https://github.com/aboualama">Aboualama</a>.</p>
    
    <ion-button (click)="login()">Login</ion-button> 
    <ion-button (click)="register()">Register</ion-button> 
  </div>

  <div text-center class="ion-padding">
    <ion-button full icon-left (click)="toggleAppTheme()"> Change Theme </ion-button>
  </div>
</ion-content>
